# Kconfig - NUCLEO-64 F401RE board configuration
#
# Copyright (c) 2016 Linaro Limited.
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_MOBA_F407VG

config BOARD
	default moba_f407vg

endif # BOARD_MOBA_F407VG
