# Kconfig - STM32F1_OPENDEV board configuration
#
# Copyright (c) 2016 RnDity Sp. z o.o.
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_STM32F1_OPENDEV

config BOARD
	default stm32f1_opendev

endif # BOARD_STM32F1_OPENDEV
